.info_text{
    font-size: 30px;
    text-align: center;
}
#canvas {
    display: block;
    margin: 0 auto;
    background-color:cornflowerblue;
    margin-top: 10px;
}

.btn {
    display: block;
    margin: 10px auto;
}

.result{
    text-align: center;
}